{% extends 'sidebar.html' %}

{% block content %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta chartset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <title> AURIN Weather Data</title>

        <style type="text/css">
            .chartBox {
                max-width: 1000px;
            }
            .buttonBox {
                max-width: 500px;
            }
            .buttonBox ul {
                display: flex;
            }
            .buttonBox ul li {
                list-style: none;
            }
            .btn {
                border-radius: 20ox;
                text-decoration: none;
                color: #fff;
                padding: 5px 10px;
                margin-right: 5px
            }
            .btn.red{
                background: rgba(255,99,132,1);
            }
            .btn.yellow{
                background: rgb(242, 221, 62);
            }
            .btn.blue{
                background: rgb(120, 99, 255);
            }
            .btn.green{
                background: rgb(99, 255, 99);
            }
        
        </style>
    </head>

    <body>
        <!-- chart 2 -->
        <div class="chartbox">
            <canvas id="myChart1"></canvas>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>

        <div class="buttonBox">
            <ul>
                <li><a href="#" class="btn red" onclick="updateChart1('maxTemp in degree')">Max Temperature</a></li>
                <li><a href="#" class="btn yellow"onclick="updateChart1('minTemp in degree')">Min Temperature</a></li>
                <li><a href="#" class="btn blue"onclick="updateChart1('sunshine in hour')">Sunshine</a></li>
                <li><a href="#" class="btn green" onclick="updateChart1('rainfall in mm')">Rainfall</a></li>
            </ul>>
        </div>

        <script>
            function updateChart1(info) {
                    const datapoints = {{ weather_climate_json|safe }};
                    const objArray = [];
                    // push to an array
                    for (let i = 0; i < datapoints.length; i++) {
                        objArray.push(datapoints[i]);
                    }

                    // sort by time
                    // create Date objects for each row for comparison
                    for (let i = 0; i < objArray.length; i++) {
                        console.log(objArray[i].doc.Date);
                        objArray[i].doc.Date = [objArray[i].doc.Date, new Date(objArray[i].doc.Date)]
                    }
                    // sort it by Date
                    objArray.sort((a, b) => b.doc.Date[1] - a.doc.Date[1]);
                    // reverse it from old to new
                    objArray.reverse();
            
                    // read x-axis
                    const time = [];
                    for (let i = 0; i < datapoints.length; i++) {
                        time.push(objArray[i].doc.Date[0]);
                    }
                    // read y-axis
                    if (info == 'maxTemp in degree') {
                        const dataSet = [];
                        for (let i = 0; i < datapoints.length; i++) {
                            dataSet.push(objArray[i].doc.maxTemp);
                        }
                        myChart1.config.data.labels = time;
                        myChart1.config.data.datasets[0].data = dataSet;
                        myChart1.config.data.datasets[0].label = info;
                        myChart1.update();
                    }

                    if (info == 'minTemp in degree') {
                        const dataSet = [];
                        for (let i = 0; i < datapoints.length; i++) {
                            dataSet.push(objArray[i].doc.minTemp);
                        }
                        myChart1.config.data.labels = time;
                        myChart1.config.data.datasets[0].data = dataSet;
                        myChart1.config.data.datasets[0].label = info;
                        myChart1.update();
                    }

                    if (info == 'sunshine in hour') {
                        const dataSet = [];
                        for (let i = 0; i < datapoints.length; i++) {
                            dataSet.push(objArray[i].doc.sunshine);
                        }
                        myChart1.config.data.labels = time;
                        myChart1.config.data.datasets[0].data = dataSet;
                        myChart1.config.data.datasets[0].label = info;
                        myChart1.update();
                    }

                    if (info == 'rainfall in mm') {
                        const dataSet = [];
                        for (let i = 0; i < datapoints.length; i++) {
                            dataSet.push(objArray[i].doc.rainfall);
                        }
                        myChart1.config.data.labels = time;
                        myChart1.config.data.datasets[0].data = dataSet;
                        myChart1.config.data.datasets[0].label = info;
                        myChart1.update();
                    }   
            }    
            const ctx1 = document.getElementById('myChart1');

            const data1 = {
                labels:[],
                datasets: [{
                    label:'',
                    data: [],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }

                ]
            };

                // config
            const config1 = {
                type: 'line',
                data: data1,
                options:{
                    scales: {
                        y:{
                            beginAtZero: true,
                            display: true,
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Melbourne weather climate in 2021 and 2022'
                        }           
                    }         
                }
            };

            const myChart1 = new Chart(
                ctx1,
                config1
            );
            updateChart1('maxTemp in degree')

        </script>
    </body>

</html>

{% endblock %}
