{% extends 'sidebar.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chartset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <title> AURIN Cancer Data</title>
        <style type="text/css">
            .chartBox {
                max-width: 1000px;
            }
            .buttonBox {
                max-width: 400px;
            }
            .buttonBox ul {
                display: flex;
            }
            .buttonBox ul li {
                list-style: none;
            }
            .btn {
                border-radius: 20ox;
                text-decoration: none;
                padding: 5px 10px;
                margin-right: 5px
            }
            .btn .red{
                background: 'rgba(255, 99, 132, 0.2)';
            }
            .btn .blue{
                background: 'rgba(99, 99, 255, 1)';
            }
            .btn .green{
                background: 'rgba(99, 255, 99, 1)';
            }

        </style>
    </head>

    <body>
        <!-- chart 1 cancer rate ratio data -->
        <div class="chartbox">
            <canvas id="myChart"></canvas>
        </div>
        
        <div class="buttonBox">
            <ul>
                <li><a href="#" class="btn red" onclick="updateChart('allCancerRatio')">all</a></li>
                <li><a href="#" class="btn blue"onclick="updateChart('leukaemiaRatio')">leukaemia</a></li>
                <li><a href="#" class="btn green"onclick="updateChart('lymphomaRatio')">lymphoma</a></li>
                <li><a href="#" class="btn red" onclick="updateChart('pancreasRatio')">pancreas</a></li>
                <li><a href="#" class="btn blue"onclick="updateChart('lungRatio')">lung</a></li>
                <li><a href="#" class="btn green"onclick="updateChart('colortlRatio')">colortl</a></li>

            </ul>>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>

        <script>
            function updateChart(cancerName) {
                    const datapoints = {{ cancer_ratio_json|safe }};
                    const location = datapoints.map(item => item.doc.gccsa_name);
                    const dataTodisplay = [];
                    if (cancerName == 'allCancerRatio') {
                        const dataTodisplay = datapoints.map(item => item.doc.all_cancs_combined_rt_ratio);
                        myChart.config.data.labels = location;
                        myChart.config.data.datasets[0].data = dataTodisplay;
                        myChart.config.data.datasets[0].backgroundColor = 'rgba(255, 99, 132, 0.2)';
                        myChart.config.data.datasets[0].label = cancerName;
                        myChart.update();

                    }
                    if (cancerName == 'leukaemiaRatio') {
                        const dataTodisplay = datapoints.map(item => item.doc.leukaemia_c91_c95_rt_ratio);
                        myChart.config.data.labels = location;
                        myChart.config.data.datasets[0].data = dataTodisplay;
                        myChart.config.data.datasets[0].backgroundColor = 'rgba(99, 99, 255, 1)';
                        myChart.config.data.datasets[0].label = cancerName;
                        myChart.update();
                    }

                    if (cancerName == 'lymphomaRatio') {
                        const dataTodisplay = datapoints.map(item => item.doc.lymphoma_c81_c86_rt_ratio);
                        myChart.config.data.labels = location;
                        myChart.config.data.datasets[0].data = dataTodisplay;
                        myChart.config.data.datasets[0].backgroundColor = 'rgba(99, 255, 99, 1)';
                        myChart.config.data.datasets[0].label = cancerName;
                        myChart.update();
                    }

                    if (cancerName == 'pancreasRatio') {
                        const dataTodisplay = datapoints.map(item => item.doc.pancreas_c25_rt_ratio);
                        myChart.config.data.labels = location;
                        myChart.config.data.datasets[0].data = dataTodisplay;
                        myChart.config.data.datasets[0].backgroundColor = 'rgba(255, 99, 132, 0.2)';
                        myChart.config.data.datasets[0].label = cancerName;
                        myChart.update();
                    }

                    if (cancerName == 'lungRatio') {
                        const dataTodisplay = datapoints.map(item => item.doc.lung_c33_c34_rt_ratio);
                        myChart.config.data.labels = location;
                        myChart.config.data.datasets[0].data = dataTodisplay;
                        myChart.config.data.datasets[0].backgroundColor = 'rgba(99, 99, 255, 1)';
                        myChart.config.data.datasets[0].label = cancerName;
                        myChart.update();
                    }
                    
                    if (cancerName == 'colortlRatio') {
                        const dataTodisplay = datapoints.map(item => item.doc.colortl_c18_c20_rt_ratio);
                        myChart.config.data.labels = location;
                        myChart.config.data.datasets[0].data = dataTodisplay;
                        myChart.config.data.datasets[0].backgroundColor = 'rgba(99, 255, 99, 1)';
                        myChart.config.data.datasets[0].label = cancerName;
                        myChart.update();
                    }
                
            }  
            const ctx = document.getElementById('myChart');

            const data = {
                labels:[],
                datasets: [{
                    label:'All cancer Ratio',
                    data: [],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }
                ]
            };

            const horizontalDottedLine = {
                id: 'horizontalDottedLine',
                beforeDatasetsDraw(chart, args, options) {
                    const { ctx, chartArea:{top, right, bottom, left, width, height},
                        scales: {x,y}} = chart;
                    ctx.save();
                    ctx.strokeStyle = 'red';
                    ctx.setLineDash([50,25]);
                    ctx.strokeRect(left, y.getPixelForValue(1), width, 0);
                    ctx.restore();    
                }
            }

                // config
            const config = {
                type: 'bar',
                data: data,
                
                options:{
                    plugins: {
                        title: {
                                display: true,
                                text: 'Cancer rate ratio between greater cities'
                            }
                    }
                },
                plugins: [horizontalDottedLine]
            };

            const myChart = new Chart(
                ctx,
                config
            );
            updateChart('allCancerRatio')
        </script>
        <h3>Ratio rates are calculated as the age-standardised rate for the geographic area of interest divided by the age-standised rate for all of Australia.</h3>
        <h3>A rate ratio of 1 indicates that the area of interest is the same as the rate of Australia.</h3>
    </body>

</html>
{% endblock %}
