{% extends 'sidebar.html' %}


{% block content %}

<!-- aurin map here -->
<div class="chartbox">
    <canvas id="myChart1"></canvas>
</div>
<!-- <div class="buttonBox">
    <ul>
        <li><a href="#" class="btn red" onclick="updateChart1('access_to_hospital')">hospital services</a></li>
        <li><a href="#" class="btn blue"onclick="updateChart1('access_to_gp')">gp services</a></li>

    </ul>
</div> -->

<!-- tweet map here -->
<div class="chartbox">
    <canvas id="myChart2"></canvas> 
</div>

<div>
    <p>Regarding Melbourne, there is a positive relationship between the number of people employeed in hospital a region per resident population and the number of positive tweets posted</p>
</div>


<script>
    // health tweets choropleth
    const tweetsUrl = '../static/health_num_tweets_topo.json';
    fetch(tweetsUrl).then((result) => result.json()).then((datapoint) =>{
        const lgas = ChartGeo.topojson.feature(datapoint, datapoint.objects.health_num_tweets).features;

        console.log(lgas.map(lga_name => lga_name.properties.vic_lga__3));
        const data = {
            labels: lgas.map(lga_name => lga_name.properties.vic_lga__3),
            datasets: [
                    {
                    label: "lgas",
                    outline: lgas,
                    data: lgas.map(lga_name => ({feature: lga_name, value: lga_name.properties.positive})),
                    }
            ]       
        };

         const config = {
            type: 'choropleth',
            data: data,
            
            options: {
                //showOutline: true,
                scales: {
                    xy: {
                            projection: 'equalEarth'
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                            display: true,
                            text: 'Number of tweets about environment'
                        }
                }
            }
        }

        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config
        );
    })

    // health aurin choropleth 
    const aurinUrl = '../static/melbourne_shape_topo.json';
        
        function updateChart1(info) {
                    const datapoints = {{ essential_json|safe }};
                // read data files
                    const objArray = [];
                    // convert lga names
                    for (let i = 0; i < datapoints.length; i++) {
                        const tempArray1 = datapoints[i].doc.lga_name.split(" ", 6);
                        const tempArray2 = [];
                        
                        for (let j = 0; j < tempArray1.length; j++) {
                            if (tempArray1[j] != '') {
                                tempArray2.push(tempArray1[j]);
                            }
                        }
                        
                        if (tempArray2.length == 2) {
                            datapoints[i].doc.lga_name = tempArray2[0].toUpperCase();
                        }
                        
                        if (tempArray2.length == 3) {
                            datapoints[i].doc.lga_name = tempArray2[0].toUpperCase() + ' ' + tempArray2[1].toUpperCase();
                        }
                        objArray.push(datapoints[i].doc);
                    }

                    // read map data
                    fetch(aurinUrl).then((result) => result.json()).then((datapoint) => {
                    const lgas = ChartGeo.topojson.feature(datapoint, datapoint.objects.melbourne_shape).features;
                    
                    // filter the data
                    const filtered_array = [];

                    for (let i = 0; i < objArray.length; i++) {
                        if (lgas.map(lga => lga.properties.vic_lga__3).includes(objArray[i].lga_name)) {
                            filtered_array.push(objArray[i]);
                        }
                    }
                    // get sorted data array
                    const data_array = [];
                    for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++){
                        for (let j = 0; j < filtered_array.length; j++) {
                            if (filtered_array[j].lga_name == lgas.map(lga => lga.properties.vic_lga__3)[i]) {
                                data_array.push(filtered_array[j]);
                            }
                        }
                    }

                     //fill the data in sorted array in to the map
                    if (info == 'access_to_hospital') {
                        for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++) {
                            lgas[i].properties.vic_lga__1 = data_array[i].hs_meas;
                        }
                        myChart1.config.data.datasets[0].data = lgas.map(lga => ({feature: lga, value: lga.properties.vic_lga__1}));
                        myChart1.config.data.datasets[0].label = info;
                        myChart1.config.data.datasets[0].outline = lgas;
                        myChart1.config.data.labels = lgas.map(lga => lga.properties.vic_lga__3);
                        myChart1.update();
                        
                    }

                    if (info == 'access_to_gp') {
                        for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++) {
                            lgas[i].properties.vic_lga__1 = data_array[i].gpsrv_meas;
                        }
                        myChart1.config.data.datasets[0].data = lgas.map(lga => ({feature: lga, value: lga.properties.vic_lga__1}));
                        myChart1.config.data.datasets[0].label = info;
                        myChart1.config.data.datasets[0].outline = lgas;
                        myChart1.config.data.labels = lgas.map(lga => lga.properties.vic_lga__3);
                        myChart1.update();
                
                    }
                })
            }
            const ctx1 = document.getElementById('myChart1');
            const data1 = {
                labels: [],
                datasets: [
                        {
                        label: "",
                        outline: false,
                        data:[],
                        }
                        ]       
                        };
            
            // config the graph
            const config1 = {
                type: 'choropleth',
                data: data1,
                options: {
                    //showOutline: true,
                    scales: {
                        xy: {
                            projection: 'equalEarth'
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                                display: true,
                                text: 'number of people employeed in hospital a region per resident population'
                            }
                    }
                }
            };

            const myChart1 = new Chart(
                ctx1,
                config1
            );
            updateChart1('access_to_hospital')







    // // config the graph
    // const config2 = {
    //     type: 'choropleth',
    //     data: data2,
    //     options: {
    //         //showOutline: true,
    //         scales: {
    //             xy: {
    //                 projection: 'equalEarth'
    //             }
    //         },
    //         plugins: {
    //             legend: {
    //                 display: false
    //             },
    //             title: {
    //                     display: true,
    //                     text: 'Melbourne waste recycling data'
    //                 }
    //         }
    //     }
    // };

    
</script>


{% endblock %}
