{% extends 'sidebar.html' %}


{% block content %}

<style>
    .serena{text-align:center;}
</style>
<!-- aurin map here -->
<div style="margin-left: auto; margin-right: auto">
    <canvas id="myChart1"></canvas> 
</div>

<h3 class="serena">Sentiment Ananlysis on tweets data versus time</h3>

<img src="../static/sentiment.jpg" width = "1000" height = "700">
</img>

<!-- tweet map here
<div style="height: 50%; width: 50%; margin-left: auto; margin-right: auto">
    <canvas id="myChart"></canvas> 
</div>
-->


<script>
    //aruin
    const datapoints = {{ weather_climate_json|safe }};
    const objArray = [];
            // push to an array
    for (let i = 0; i < datapoints.length; i++) {
        objArray.push(datapoints[i]);
    }

            // sort by time
            // create Date objects for each row for comparison
    for (let i = 0; i < objArray.length; i++) {
        console.log(objArray[i].doc.Date);
        objArray[i].doc.Date = [objArray[i].doc.Date, new Date(objArray[i].doc.Date)]
    }
            // sort it by Date
    objArray.sort((a, b) => b.doc.Date[1] - a.doc.Date[1]);
            // reverse it from old to new
    objArray.reverse();
            // read x-axis
    const time = [];
    for (let i = 0; i < datapoints.length; i++) {
        time.push(objArray[i].doc.Date[0]);
        }
            // read y-axis
    const dataSet = [];
    for (let i = 0; i < datapoints.length; i++) {
        dataSet.push(objArray[i].doc.maxTemp);
    } 
    const data1 = {
        labels:time,
        datasets: [{
            label: "highest temperature in degree",
            data: dataSet,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }
        ]
    };
    const config1 = {
        type: 'line',
        data: data1,
        options:{
            scales: {
                y:{
                    beginAtZero: true,
                    display: true,
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Melbourne weather climate in 2021 and 2022'
                }           
            }         
        }
    };
    const myChart1 = new Chart(
        document.getElementById('myChart1'),
        config1
    );



    
</script>
<h3 >The time period that has the highest max temperature is in Janurary, we can also observe that there is a huge jump of negative tweets in the same Month.</h3>

{% endblock %}