.main_title{
    background-position: center;
    background-size: cover;
    min-height: 400px;
    background-image: url("melbourne.jpg");
}

.main_title_text{
    text-align: center;
    padding-top: 15%;
    color:white;
    font-size: 48px;
}
.main_title_sub_text{
    text-align: center;
    padding-bottom: 15%;
    color:white;
    font-size: 20px;
}

.col-context{
    text-align: center;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 60%;
    font-size: 12px;
    background-color: grey;
    color: white;
  }
  