{% extends 'sidebar.html' %}

{% block content %}


<div style="display:flex; flex-directon:row;">
    <div style="margin: 50px 0 50px 10%;width:40%">
    <canvas id="weekday-chart" width="200" height="150"></canvas>
</div>

<div style="margin: 50px 10% 50px 50px;width:40%;">
    <canvas id="each-day-chart" width="200" height="150"></canvas>
</div>
</div>

<div style="display:flex;flex-directon:row; margin-bottom:30px; margin-left:60px">
    <div style="width: 700px; height:400px"><canvas id="sent_line"></canvas></div>
        <img style="width:35%; height:30%; margin:40px 0 0 60px" src="data:image/png;base64,{{ img_b64 }}">
</div>

<div style="height: 600px; width: 600px; margin-left: auto; margin-right: auto;">
    <canvas id="doughnut-chart"></canvas>
</div>

<script type="text/javascript">


    // receive processed json
    var lang_table = {{ lang_json|safe }};
    var lang_values = {{ lang_values|safe }};
    var lang_labels = {{ lang_labels|safe }};
    var day_labels = {{ day_labels|safe }};
    var day_values = {{ day_values|safe }};
    var each_day_labels = {{ each_day_labels|safe }};
    var each_day_values = {{ each_day_values|safe }};
    var pos_data = {{ pos_data|safe }};
    var neg_data = {{ neg_data|safe }};
    var neu_data = {{ neu_data|safe }};
    var date_range = {{ date_range|safe }};
    

    function convert_label(label){
        const languageNames = new Intl.DisplayNames(['en'], {
            type: 'language'
        });
        return languageNames.of(label)
    }
    var full_labels = lang_labels.map(convert_label)

    const COLORS = [
    '#4dc9f6',
    '#f67019',
    '#f53794',
    '#537bc4',
    '#acc236',
    '#166a8f',
    '#00a950',
    '#58595b',
    '#8549ba',
    '#264653',
    '#2A9D8F',
    '#E9C46A',
    '#F4A261',
    '#E76F51',
    '#E9D5DA',
    '#827397',
    '#4D4C7D',
    '#363062',
    '#EDE6DB',
    '#417D7A',
    '#1D5C63',
    '#1A3C40',
    '#8E3200',
    '#A64B2A',
    '#D7A86E',
    '#FFEBC1',
    '#B4FF9F',
    '#F9FFA4',
    '#FFD59E',
    '#FFA1A1',
    '#F73D93',
    '#16003B',
    '#413F42',
    '#7F8487'
    ];

    // console.log(day_json);
    // create doughnut chart
    const doughnut_chart = new Chart('doughnut-chart', {
    type: 'doughnut',
    data: {
    labels: full_labels,
    datasets: [{
        data: lang_values,
        backgroundColor: COLORS,
    }]
    },
    options:{
        
        plugins:{
            legend:{
                position: 'top',
            },
            title:{
                display: true,
                text: 'Number of languages used in tweets',
                font:{
                    size: 20
                },
            }
        }
    }

    });

    // bar chart shows difference of number of tweets on weekdays and weekends
    const week_chart = new Chart('weekday-chart', {
    type: 'bar',
    data: {
    labels: day_labels,
    datasets: [{
      data: day_values,
      backgroundColor: COLORS
    }]
    },
    options: {
        plugins:{
            legend: {display: false},
            title: {
            display: true,
            text: "number of tweets on weekdays vs. weekends",
            font:{
                size: 20
            }
            }
        }
        
    }
    });

    const each_day_chart = new Chart('each-day-chart', {
    type: 'bar',
    data: {
    labels: each_day_labels,
    datasets: [{
      data: each_day_values,
      backgroundColor: COLORS
    }]
    },
    options: {
        plugins:{
            legend: {display: false},
            title: {
            display: true,
            text: "number of tweets day of a week",
            font:{
                size: 20
            }
            }
        }
        
    }

    });

    // sentimental line chart
    const line_data = {
        labels: date_range,
        datasets:[
            {
            label: 'positive',
            data: pos_data,
            parsing:{
                xAxisKey: 'key',
                yAxisKey: 'value'
            },
            borderColor: 'rgba(255, 99, 132, 1)',
            backgroundColor: 'rgba(255, 99, 132, 0.2)'
    
        }
        ,
        {
            label:'negative',
            data: neg_data,
            parsing:{
                xAxisKey: 'key',
                yAxisKey: 'value'
            },
            borderColor: 'rgba(52, 135, 194, 1)',
            backgroundColor: 'rgba(52, 135, 194, 0.2)',
    
        },
        {
            label:'neutral',
            data: neu_data,
            parsing:{
                xAxisKey: 'key',
                yAxisKey: 'value'
            },
            borderColor: 'rgba(52, 194, 104, 1)',
            backgroundColor: 'rgba(52, 194, 104, 0.2)'
        }
    ]
    }

    const line_chart = new Chart('sent_line', {
    type: 'line',
    data: line_data,
    options: {
        plugins:{
            title: {
            display: true,
            text: "number of tweets each day 2022",
            font:{
                size: 20
            }
            }
        }
        
    }
    });

    
</script>


{% endblock %}

