{% extends 'sidebar.html' %}

{% block content %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta chartset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <title> AURIN waste recycling Data</title>

        <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""
        />

        <script
        src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""
        ></script>

        <style>
            #issMap {
              height: 800px;
              width: 1000px;
            }
        </style>

        <style type="text/css">
            .chartBox {
                max-width: 1000px;

            }
            .buttonBox {
                max-width: 400px;
            }
            .buttonBox ul {
                display: flex;
            }
            .buttonBox ul li {
                list-style: none;
            }
            .btn {
                border-radius: 20ox;
                text-decoration: none;
                padding: 5px 10px;
                margin-right: 5px
            }
        </style>
    </head>

    <body>
        <!-- chart 3 -->
        <div class="chartbox">
            <canvas id="myChart2"></canvas>>
            
        </div>
        <!--install dependency for chartgeo-->>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs"></script>
        <script type="text/javascript" src="https://unpkg.com/chartjs-chart-geo@3.5.2/build/index.umd.min.js"></script>
        <div class="buttonBox">
            <ul>
                <li><a href="#" class="btn red" onclick="updateChart2('household_yield_kg')">household yield(kg)</a></li>
                <li><a href="#" class="btn blue"onclick="updateChart2('diversion_rate_1')">diversion rate 1 (%)</a></li>
                <li><a href="#" class="btn green"onclick="updateChart2('diversion_rate_2')">diversion rate 2 (%)</a></li>
                <li><a href="#" class="btn red" onclick="updateChart2('diversion_rate_3')">diversion rate 3 (%)</a></li>
            </ul>
        </div>
        <script>
        // original geoJson url:
        const geoUrl = '../static/melbourne_shape_topo.json';
        
        function updateChart2(info) {
                // read waste data

                const datapoints = {{ waste_recycling_json|safe }};
                //console.log(datapoints);
                const objArray = [];
                    // convert lga names
                for (let i = 0; i < Object.keys(datapoints).length; i++) {
                    const tempArray1 = datapoints[i].doc.lga.split(" ", 6);
                    const tempArray2 = [];
                    //console.log( tempArray1);
                    for (let j = 0; j < tempArray1.length; j++) {
                        if (tempArray1[j] != '') {
                            tempArray2.push(tempArray1[j]);
                        }
                    }
                    //console.log( tempArray2);
                        
                    if (tempArray2.length == 3) {
                        datapoints[i].doc.lga = tempArray2[0].toUpperCase();
                    }
                        
                    if (tempArray2.length == 4) {
                        //console.log( datapoints[i].docs.lga);
                        datapoints[i].doc.lga = tempArray2[0].toUpperCase() + ' ' + tempArray2[1].toUpperCase();
                    }
                    objArray.push(datapoints[i].doc);
                }

                    // read map data
                fetch(geoUrl).then((result) => result.json()).then((datapoint) => {
                    const lgas = ChartGeo.topojson.feature(datapoint, datapoint.objects.melbourne_shape).features;
                    
                    // filter the waste data
                    const filtered_array = [];

                    for (let i = 0; i < objArray.length; i++) {
                        if (lgas.map(lga => lga.properties.vic_lga__3).includes(objArray[i].lga)) {
                        filtered_array.push(objArray[i]);
                        }
                    }
                    // get sorted data array
                    const data_array = [];
                    for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++){
                        for (let j = 0; j < filtered_array.length; j++) {
                            if (filtered_array[j].lga == lgas.map(lga => lga.properties.vic_lga__3)[i]) {
                                data_array.push(filtered_array[j]);
                            }
                        }
                    }

                        //fill the data in sorted array in to the map
                    if (info == "household_yield_kg") {
                        for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++) {
                            lgas[i].properties.vic_lga__1 = data_array[i].household_yield_kg;
                        }
                        myChart2.config.data.datasets[0].data = lgas.map(lga => ({feature: lga, value: lga.properties.vic_lga__1}));
                        myChart2.config.data.datasets[0].label = info;
                        myChart2.config.data.datasets[0].outline = lgas;
                        myChart2.config.data.labels = lgas.map(lga => lga.properties.vic_lga__3);
                        myChart2.update();
                            
                    }

                    if (info == "diversion_rate_1") {
                        for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++) {
                            lgas[i].properties.vic_lga__1 = data_array[i].diversion_rate_1;
                        }
                        myChart2.config.data.datasets[0].data = lgas.map(lga => ({feature: lga, value: lga.properties.vic_lga__1}));
                        myChart2.config.data.datasets[0].label = info;
                        myChart2.config.data.datasets[0].outline = lgas;
                        myChart2.config.data.labels = lgas.map(lga => lga.properties.vic_lga__3);
                        myChart2.update();
                    
                    }

                    if (info == "diversion_rate_2") {
                        for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++) {
                            lgas[i].properties.vic_lga__1 = data_array[i].diversion_rate_2;
                        }
                        myChart2.config.data.datasets[0].data = lgas.map(lga => ({feature: lga, value: lga.properties.vic_lga__1}));
                        myChart2.config.data.datasets[0].label = info;
                        myChart2.config.data.datasets[0].outline = lgas;
                        myChart2.config.data.labels = lgas.map(lga => lga.properties.vic_lga__3);
                        myChart2.update();
                            
                    }

                    if (info == "diversion_rate_3") {
                        for (let i = 0; i < lgas.map(lga => lga.properties.vic_lga__3).length;i++) {
                            lgas[i].properties.vic_lga__1 = data_array[i].diversion_rate_3;
                        }
                        myChart2.config.data.datasets[0].data = lgas.map(lga => ({feature: lga, value: lga.properties.vic_lga__1}));
                        myChart2.config.data.datasets[0].label = info;
                        myChart2.config.data.datasets[0].outline = lgas;
                        myChart2.config.data.labels = lgas.map(lga => lga.properties.vic_lga__3);
                        myChart2.update();
                            
                    }
                })
            }
            
            
            const ctx2 = document.getElementById('myChart2');
            const data2 = {
                labels: [],
                datasets: [
                        {
                        label: "",
                        outline: false,
                        data:[],
                        }
                        ]       
                        };
            
            // config the graph
            const config2 = {
                type: 'choropleth',
                data: data2,
                options: {
                    //showOutline: true,
                    scales: {
                        xy: {
                            projection: 'equalEarth'
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                                display: true,
                                text: 'Melbourne waste recycling data 2010-2011'
                            }
                    }
                }
            };

            const myChart2 = new Chart(
                ctx2,
                config2
            );
            updateChart2('household_yield_kg')
            
        </script>
                <h3>Annual household yield (kg) of recyclables collected through kerbside services by the local government</h3>
                <h3>Diversion rate 1 is the official measure from kerbside collection services used to track progress of local governments.</h3>
                <h3>Diversion rate 2 allows comparison with local governments without green organics.</h3>
                <h3>Diversion rate 3 allows comparisons with local governments that provide drop-off collection facilities for parts of their municipality.</h3>
    </body>

</html>

{% endblock %}