{% extends 'sidebar.html' %}

{% block content %}
<style>
    #main{
        padding:0;
    }
</style>

<link rel="stylesheet" href="../static/index.css">
<div class="main_title" style="padding: 0">
    <div class="main_title_text">Livability of Melbourne</div>
    <div class="main_title_sub_text">Scenarios revealed by data retrived from tweeter and AURIN</div>
    
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="col-context">Tweeter</h3>
            <p>Charts about the number of tweets posted in different languages or which day of a week will be shown. A line chart and a word cloud 
                yields the result of sentimental analysis of the texts are also availabel.
            </p>
        </div>
        <div class="col-sm-4">
            <h3 class="col-context">AURIN</h3>
            <p>Official data used by many government institutions, data will be used to analyse problems among
                 environment(weather, climate, waste) and health(GP Services
                hostipal medical staff).</p>
        </div>
        <div class="col-sm-4">
            <h3 class="col-context">Scenarios</h3>
            <p>Besides individual analysis and charts under tweets and AURIN data, we've also discovered similar trends lays in both datasets
                 which will be shown in this section.
            </p>

        </div>
    </div>
</div>

{% endblock %}

